.form {
    display: grid;
    width: 20rem;
    gap: 1em;
    text-align: center;
    align-self: center;
    margin-top: -25%;
}
.form-header {
    margin: 0;
}
.form input, .form textarea {
    padding: 0.5em;
    font-size: 1.2em;
}
.form textarea {
    height: 5em;
}
.button {
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius:8px ;
    transition: 300ms;
}
.button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}