fieldset {
    width: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
legend {
    font-size: 1.5em;
}
select {
    margin: 0 2em;
    font-size: 1.2em;
    cursor: pointer;
}
label,.input {
    font-size: 1.2em;
    cursor: pointer;
}