.generate-report-button {
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius:8px ;
    transition: 300ms;
}

.generate-report-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
}